#menuClass.m-2
  .input-group
    .input-group-prepend
      %span.input-group-text
        %i.fas.fa-link
    %input.txt-prefix.form-control.form-control-sm(type="text")

  #changeNameClass
    %input.txt-name.form-control.form-control-sm(type="text")

  .my-1.attributes
    .attr-list.mx-2
    %button.btn.btn-sm.btn-block.btn-secondary.btn-add{type: "button"}

      %i.fas.fa-plus
      Attr.
  .my-1
    .method-list.mx-2
    %button.btn.btn-sm.btn-block.btn-secondary{onclick: "addMethod()",
                                               name: "addMethod",
                                               type: "button",
                                               value: "add method",
                                               id: "btnAddMethodClass"}
      %i.fas.fa-plus
      Method

  .btn-group.my-2.generals
    %button.btn.btn-sm.btn-success.btn-done{type: "button"}
      %i.fas.fa-check
      Done
    %button.btn.btn-sm.btn-danger.btn-cancel{type: "button"}
      %i.fas.fa-times
      Cancel
    
    
