<div class='m-2' id='menuClass'>
<div class='input-group'>
<div class='input-group-prepend'>
<span class='input-group-text'>
<i class='fas fa-link'></i>
</span>
</div>
<input class='txt-prefix form-control form-control-sm' type='text'>
</div>
<div id='changeNameClass'>
<input class='txt-name form-control form-control-sm' type='text'>
</div>
<div class='my-1 attributes'>
<div class='attr-list mx-2'></div>
<button class='btn btn-sm btn-block btn-secondary btn-add' type='button'>
<i class='fas fa-plus'></i>
Attr.
</button>
</div>
<div class='my-1'>
<div class='method-list mx-2'></div>
<button class='btn btn-sm btn-block btn-secondary' id='btnAddMethodClass' name='addMethod' onclick='addMethod()' type='button' value='add method'>
<i class='fas fa-plus'></i>
Method
</button>
</div>
<div class='btn-group my-2 generals'>
<button class='btn btn-sm btn-success btn-done' type='button'>
<i class='fas fa-check'></i>
Done
</button>
<button class='btn btn-sm btn-danger btn-cancel' type='button'>
<i class='fas fa-times'></i>
Cancel
</button>
</div>
</div>
